html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h3,
h2,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.33;
}

.link {
  text-decoration: none;
}

:root {
  --text-color: #fff;
  --hero-button-color: #8E32C6;
  --hover-button-color: #b742ff;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 360px) {
  .container {
    max-width: 360px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

@media screen and (min-width: 360px) {
  .header {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    display: block;
    position: fixed;
    z-index: 100;
    width: 1440px;
    height: 93px;
    background: #012D63;
    padding: 30px 165px;
    top: 0;
  }
}

.navigation {
  display: flex;
}

.logo {
  display: block;
  height: 60px;
}

.menu-header {
  display: flex;
}

.menu-header-item:not(:last-child) {
  margin-right: 23px;
}

.menu-header-item:first-child {
  margin-left: 152px;
}

.menu-header-link {
  font-size: 24px;
  color: #C7C7C7;
}
.menu-header-link:hover, .menu-header-link:focus {
  color: var(--text-color);
}

.language-page-link:first-child {
  margin-left: 70px;
  margin-right: 10px;
}

.hero {
  position: relative;
  z-index: 2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 360px) {
  .hero {
    background-image: url(../../images/mobile/hero-mobile.png);
    height: 737px;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    top: 90px;
    width: 1440px;
    height: 948px;
    background-image: url(../images/desktop/background-hero-desktop.png);
  }
}

.composition__logo-text {
  margin-left: 170px;
  position: relative;
}

.composition__logo {
  display: block;
}
@media screen and (min-width: 360px) {
  .composition__logo {
    margin-left: -150px;
    width: 96px;
  }
}
@media screen and (min-width: 1440px) {
  .composition__logo {
    margin-left: -165px;
    width: 120px;
  }
}

.composition__text {
  position: absolute;
  font-family: "PT Serif";
  color: var(--text-color);
}
@media screen and (min-width: 360px) {
  .composition__text {
    margin-left: -130px;
    font-size: 24px;
    line-height: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .composition__text {
    font-size: 48px;
    top: 60px;
    left: 20px;
    margin-left: -165px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 360px) {
  .hero-text {
    margin-left: 25px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-text {
    margin-left: 157px;
  }
}

.hero-text__first-title {
  font-style: normal;
  font-weight: 400;
  font-family: "Playfair Display";
  font-size: 144px;
  color: var(--text-color);
}
@media screen and (min-width: 360px) {
  .hero-text__first-title {
    font-size: 64px;
    line-height: 85px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-text__first-title {
    font-size: 144px;
    line-height: 192px;
  }
}

.hero-text__second-title {
  font-family: "Playfair Display";
  font-weight: normal;
  color: var(--text-color);
  font-weight: 400;
}
@media screen and (min-width: 360px) {
  .hero-text__second-title {
    font-size: 36px;
    line-height: 48px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-text__second-title {
    font-size: 72px;
    margin-bottom: 12px;
  }
}

.hero-text__third-title {
  display: block;
  color: var(--text-color);
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";
}
@media screen and (min-width: 360px) {
  .hero-text__third-title {
    font-size: 18px;
    line-height: 21px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-text__third-title {
    font-size: 18px;
    line-height: 1.16;
  }
}

.hero__button {
  margin-left: 157px;
  margin-top: 41px;
  padding: 20px 61px;
  display: block;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  line-height: 1.16;
  background-color: var(--hero-button-color);
  color: var(--text-color);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--hover-button-color);
}

.hero__img {
  position: relative;
}

.hero__img-nike {
  position: absolute;
}
@media screen and (min-width: 360px) {
  .hero__img-nike {
    width: 510px;
    top: -52px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__img-nike {
    width: 840px;
    left: 500px;
    top: -524px;
  }
}

.button-mobile {
  position: absolute;
  z-index: 120;
  background-color: transparent;
  border: none;
  display: -webkit-box;
}
@media screen and (min-width: 1110px) {
  .button-mobile {
    display: none;
  }
}

.icon-mobile {
  width: 45px;
  height: 25px;
  margin-left: 250px;
  margin-top: 44px;
}

.menu-close {
  display: none;
}

.is-open .menu-close {
  display: block;
}
.is-open .menu-icon {
  display: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  right: -100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 114px;
  padding-left: 40px;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  background: #021635;
  opacity: 0.9;
  transition: right 0.5s;
}
.mobile-menu.is-open {
  right: 0;
}

.menu-mobile {
  padding-top: 90px;
}

.menu-mobile_item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #C7C7C7;
  margin-bottom: 57px;
}

.mobile-language {
  justify-content: center;
  text-align: center;
  display: flex;
}

.mobile-language_item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #C7C7C7;
}

.menu--curren {
  color: wheat;
}

.order {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/desktop/background-order-desktop.png);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 21px;
  padding-bottom: 38px;
}
@media screen and (min-width: 360px) {
  .order {
    width: 360px;
  }
}

.title-section-order {
  font-family: "Playfair Display";
  font-size: 48px;
  line-height: 1.33;
  font-weight: 400;
  display: flex;
  justify-content: center;
  color: var(--text-color);
  margin-bottom: 33px;
}

.form {
  position: relative;
  display: inline-block;
}

.addres-input {
  display: block;
  margin: 0 auto;
  margin-bottom: 19px;
  background: var(--text-color);
  border: 1px solid #000000;
  border-radius: 50px;
  width: 580px;
  height: 50px;
  padding: 0 0 0 25px;
}
@media screen and (min-width: 360px) {
  .addres-input {
    width: 242px;
    height: 35px;
  }
}

.email-input {
  width: 690px;
  height: 60px;
}
@media screen and (min-width: 360px) {
  .email-input {
    width: 242px;
    height: 35px;
  }
}

.email-button {
  position: absolute;
  left: 809px;
  top: 123px;
  opacity: 0.5;
  border: 1px solid #000000;
  border-radius: 50px;
  width: 250px;
  height: 50px;
  padding: 0;
}
.email-button:hover, .email-button:focus {
  border-color: var(--hover-button-color);
}
@media screen and (min-width: 360px) {
  .email-button {
    display: none;
  }
}

.form-button-submit {
  display: block;
  margin: 0 auto;
  width: 248px;
  height: 68px;
  background-color: var(--hero-button-color);
  border-radius: 16px;
  border: none;
}
.form-button-submit:hover, .form-button-submit:focus {
  background-color: var(--hover-button-color);
}
@media screen and (min-width: 360px) {
  .form-button-submit {
    width: 212px;
    height: 51px;
    border-radius: 10px;
  }
}/*# sourceMappingURL=style.css.map */