html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h3,
h2,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.33;
}

.link {
  text-decoration: none;
}

:root {
  --text-color: #fff;
  --hero-button-color: #8E32C6;
  --hover-button-color: #b742ff;
  --footer-background-color:#021635;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 360px) {
  .container {
    max-width: 360px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    top: 0;
    height: 90px;
    background-color: #012D63;
    position: sticky;
    z-index: 5;
  }
}

.nav {
  display: flex;
}
@media screen and (max-width: 480px) {
  .nav {
    display: none;
  }
}

.header_logo {
  display: block;
  padding-top: 30px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
}
@media screen and (max-width: 767.98px) {
  .menu {
    display: none;
  }
}

.menu_link {
  margin-right: 28px;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  color: #C7C7C7;
}

.menu_item:last-child {
  margin-right: 0px;
}

.menu_link:hover,
.menu_link:focus {
  color: #DCDCDC;
}

.language {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
@media screen and (max-width: 767.98px) {
  .language {
    display: none;
  }
}

.language_ru,
.language_en {
  margin-left: 5px;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.16;
  color: #C7C7C7;
  cursor: pointer;
}

.language_ru:hover,
.language_en:hover {
  color: #DCDCDC;
}

@media screen and (min-width: 360px) {
  .hero {
    background-image: url(../../images/mobile/hero-mobile.png);
    height: 737px;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    display: block;
    position: relative;
    z-index: 2;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/desktop/background-hero-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.composition__logo-text {
  margin-left: 170px;
  position: relative;
}

.composition__logo {
  display: block;
}
@media screen and (min-width: 360px) {
  .composition__logo {
    margin-left: -150px;
    width: 96px;
  }
}
@media screen and (min-width: 1440px) {
  .composition__logo {
    margin-left: -165px;
    width: 120px;
  }
}

.composition__text {
  position: absolute;
  font-family: "PT Serif";
  color: var(--text-color);
}
@media screen and (min-width: 360px) {
  .composition__text {
    margin-left: -130px;
    font-size: 24px;
    line-height: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .composition__text {
    font-size: 48px;
    top: 60px;
    left: 20px;
    margin-left: -165px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 360px) {
  .hero-text {
    margin-left: 25px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-text {
    margin-left: 157px;
  }
}

.hero-text__first-title {
  font-style: normal;
  font-weight: 400;
  font-family: "Playfair Display";
  font-size: 144px;
  color: var(--text-color);
}
@media screen and (min-width: 360px) {
  .hero-text__first-title {
    font-size: 64px;
    line-height: 85px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-text__first-title {
    font-size: 144px;
    line-height: 192px;
  }
}

.hero-text__second-title {
  font-family: "Playfair Display";
  font-weight: normal;
  color: var(--text-color);
  font-weight: 400;
}
@media screen and (min-width: 360px) {
  .hero-text__second-title {
    font-size: 36px;
    line-height: 48px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-text__second-title {
    font-size: 72px;
    margin-bottom: 12px;
  }
}

.hero-text__third-title {
  display: block;
  color: var(--text-color);
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";
}
@media screen and (min-width: 360px) {
  .hero-text__third-title {
    font-size: 18px;
    line-height: 21px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-text__third-title {
    font-size: 18px;
    line-height: 1.16;
  }
}

.hero__button {
  margin-left: 157px;
  margin-top: 41px;
  padding: 20px 61px;
  display: block;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  line-height: 1.16;
  background-color: var(--hero-button-color);
  color: var(--text-color);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--hover-button-color);
}

.hero__img {
  position: relative;
}

.hero__img-nike {
  position: absolute;
}
@media screen and (min-width: 360px) {
  .hero__img-nike {
    width: 510px;
    top: -52px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__img-nike {
    width: 840px;
    left: 500px;
    top: -524px;
  }
}

.button-mobile {
  position: absolute;
  z-index: 120;
  background-color: transparent;
  border: none;
  display: -webkit-box;
}
@media screen and (min-width: 1440px) {
  .button-mobile {
    display: none;
  }
}

.icon-mobile {
  width: 45px;
  height: 25px;
  margin-left: 250px;
  margin-top: 44px;
}

.menu-close {
  display: none;
}

.is-open .menu-close {
  display: block;
}
.is-open .menu-icon {
  display: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  right: -100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 114px;
  padding-left: 40px;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  background: #021635;
  opacity: 0.9;
  transition: right 0.5s;
}
.mobile-menu.is-open {
  right: 0;
}

.menu-mobile {
  padding-top: 60px;
}

.menu-mobile_item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #C7C7C7;
  margin-bottom: 57px;
}

.mobile-language {
  justify-content: center;
  text-align: center;
  display: flex;
}

.mobile-language_item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #C7C7C7;
}

.menu--curren {
  color: wheat;
}

.adventage {
  background-image: url(../../images/desktop/group-8-1.png);
  max-height: 606px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.adventage__list {
  display: flex;
  justify-content: center;
  padding-top: 55px;
  padding-bottom: 80px;
}

.adventage__item:not(:last-child) {
  margin-right: 101px;
}

.info-components {
  background-image: url(../../images/desktop/group-7-1.png);
  display: block;
  max-height: 665px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 45px;
  padding-bottom: 82px;
}

.info-components__group {
  position: relative;
}

.info-components__paragraph {
  position: absolute;
  width: 215px;
  height: 40px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 37px;
  margin-left: 1061px;
  margin-top: 11px;
  color: #ffffff;
}

.info-components__sneaker {
  margin-left: 159px;
}

.info-components__vektor {
  position: absolute;
  margin-top: -346px;
  margin-left: 883px;
}

.info-components__zoom {
  position: absolute;
  margin-top: -180px;
  margin-left: 774px;
}

.info-components__button {
  width: 715px;
  height: 85px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  color: #ffffff;
  background: linear-gradient(91.33deg, #8e32c6 15.44%, #d600c0 69.67%);
  border-radius: 15px;
  border-style: inherit;
  margin-left: 219px;
  margin-top: 38px;
}

.echoes {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}
@media screen and (min-width: 360px) {
  .echoes {
    background-image: url(../../images/mobile/fl-bg-4.png), url(../../images/mobile/bg-4.png);
    background-repeat: no-repeat;
    background-position: bottom 0px left 0px, center;
    background-size: 174px, cover;
    padding-bottom: 50px;
    padding-top: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .echoes {
    padding-top: 35px;
    padding-bottom: 70px;
    height: 522px;
    background-image: url(../../images/desktop/bg-flowers.png), url(../../images/desktop/group-3-desktop.jpeg);
    background-repeat: no-repeat;
    background-position: bottom 0px left 0px, center;
    background-size: 360px, cover;
  }
}

@media screen and (min-width: 360px) {
  .echoes_title {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .echoes_title {
    display: block;
    font-family: "Playfair Display";
    font-size: 48px;
    line-height: 1.33;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 42px;
  }
}

.echoes-list__list {
  display: flex;
}
@media screen and (min-width: 1440px) {
  .echoes-list__list {
    justify-content: center;
  }
}

.fon {
  position: relative;
  border: none;
  z-index: 1;
  display: block;
  border-radius: 15px;
}
@media screen and (min-width: 360px) {
  .fon {
    padding: 9px 6px 0px 10px;
    margin-left: 20px;
    width: 171px;
  }
}
@media screen and (min-width: 1440px) {
  .fon {
    padding-top: 49px;
    padding-left: 18px;
    padding-right: 9px;
    width: 255px;
    height: 292px;
    margin-left: 90px;
  }
}

.fon:last-child {
  margin-right: 0px;
}

@media screen and (min-width: 360px) {
  .echoes__item1 {
    display: none;
  }
}
@media screen and (min-width: 1110px) {
  .echoes__item1 {
    display: block;
    background: linear-gradient(136.55deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
  }
  .echoes__item1::before, .echoes__item1::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 15px;
    height: 100%;
    background: transparent;
    transition: all 1s ease-out;
    opacity: 0;
  }
  .echoes__item1:hover::before {
    opacity: 1;
    z-index: -1;
    bottom: -4px;
    left: 4px;
    width: calc(100% - 8px);
    background: linear-gradient(136.55deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
  }
  .echoes__item1:hover::after {
    opacity: 1;
    z-index: -2;
    bottom: -8px;
    left: 8px;
    width: calc(100% - 16px);
    background: linear-gradient(136.55deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
  }
}

.echoes__item2 {
  background: linear-gradient(136.55deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
}
.echoes__item2::before, .echoes__item2::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 15px;
  height: 100%;
  background: transparent;
  transition: all 1s ease-out;
  opacity: 0;
}
.echoes__item2:hover::before {
  opacity: 1;
  z-index: -1;
  bottom: -4px;
  left: 4px;
  width: calc(100% - 8px);
  background: linear-gradient(136.55deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
}
.echoes__item2:hover::after {
  opacity: 1;
  z-index: -2;
  bottom: -8px;
  left: 8px;
  width: calc(100% - 16px);
  background: linear-gradient(136.55deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
}

@media screen and (min-width: 360px) {
  .echoes__item3 {
    display: none;
  }
}
@media screen and (min-width: 1110px) {
  .echoes__item3 {
    display: block;
    background: linear-gradient(142.67deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
  }
  .echoes__item3::before, .echoes__item3::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 15px;
    height: 100%;
    background: transparent;
    transition: all 1s ease-out;
    opacity: 0;
  }
  .echoes__item3:hover::before {
    opacity: 1;
    z-index: -1;
    bottom: -4px;
    left: 4px;
    width: calc(100% - 8px);
    background: linear-gradient(142.67deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
  }
  .echoes__item3:hover::after {
    opacity: 1;
    z-index: -2;
    bottom: -8px;
    left: 8px;
    width: calc(100% - 16px);
    background: linear-gradient(142.67deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
  }
}

.echoes__text {
  text-align: start;
  color: var(--text-color);
}
@media screen and (min-width: 360px) {
  .echoes__text {
    font-size: 18px;
    line-height: 21px;
  }
}
@media screen and (min-width: 1110px) {
  .echoes__text {
    font-size: 24px;
    line-height: 1.16;
  }
}

.echoes__time {
  text-align: start;
  font-size: 14px;
  line-height: 1.14;
  color: var(--confirm-color);
}

.echoes__name {
  font-size: 14px;
  line-height: 1.14;
  color: var(--text-color);
}

.echoes__deit {
  font-size: 12px;
  line-height: 1.16;
  color: var(--confirm-color);
}

.order {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/desktop/background-order-desktop.png);
  max-width: 1440px;
  max-height: 510px;
  max-width: 1440px;
  max-height: 510px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 21px;
  padding-bottom: 38px;
}
@media screen and (min-width: 360px) {
  .order {
    width: 360px;
  }
}

.title-section-order {
  font-family: "Playfair Display";
  font-size: 48px;
  line-height: 1.33;
  font-weight: 400;
  display: flex;
  justify-content: center;
  color: var(--text-color);
  margin-bottom: 33px;
}

.email-block {
  position: relative;
}

.addres-input {
  display: block;
  margin: 0 auto;
  margin-bottom: 19px;
  background: var(--text-color);
  border: 1px solid #000000;
  border-radius: 50px;
  width: 580px;
  height: 50px;
  padding: 0 0 0 25px;
}
@media screen and (min-width: 360px) {
  .addres-input {
    width: 242px;
    height: 35px;
  }
}

.email-input {
  width: 690px;
  height: 60px;
}
@media screen and (min-width: 360px) {
  .email-input {
    width: 242px;
    height: 35px;
  }
}

.email-button {
  position: absolute;
  left: 809px;
  top: 5px;
  opacity: 0.5;
  border: 1px solid #000000;
  border-radius: 50px;
  width: 250px;
  height: 50px;
  padding: 0;
}
.email-button:hover, .email-button:focus {
  border-color: var(--hover-button-color);
}
@media screen and (min-width: 360px) {
  .email-button {
    display: none;
  }
}

.form-button-submit {
  display: block;
  margin: 0 auto;
  width: 248px;
  height: 68px;
  background-color: var(--hero-button-color);
  border-radius: 16px;
  border: none;
}
.form-button-submit:hover, .form-button-submit:focus {
  background-color: var(--hover-button-color);
}
@media screen and (min-width: 360px) {
  .form-button-submit {
    width: 212px;
    height: 51px;
    border-radius: 10px;
  }
}

.footer {
  display: block;
  padding-top: 45px;
  padding-bottom: 50px;
  background-color: var(--footer-background-color);
}

.footer-question {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid #5E5E5E;
}

.footer-list {
  font-size: 24px;
  line-height: 28px;
  color: var(--text-color);
}

.footer-item {
  margin-bottom: 10px;
}

.footer-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer__reserved {
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color);
  margin-bottom: 7px;
}

.footer__country {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color);
}

.footer_logo {
  display: block;
  width: 100px;
  height: 81px;
  margin-left: 20px;
}

.footer_logo-div {
  position: relative;
}

.footer__text {
  display: block;
  position: absolute;
  top: 55px;
  left: 30px;
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 120;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: auto;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  background-image: url(../../images/desktop/flowers-right-2.png), url(../../images/desktop/flowers-right-4.png), url(../../images/desktop/flowers-left-1.png), url(../../images/desktop/flowers-left-3.png), url(../../images/desktop/nike.png), url(../../images/desktop/bg-modal-hero.png);
  background-repeat: no-repeat;
  background-position: bottom 0px right 0px, top 192px right 0px, bottom 0px left 0px, top 50px left 0px, bottom 30px center, center;
  background-size: 580px, 260px, 480px, 280px, 855px, cover;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  max-width: 1440px;
  min-height: 1024px;
}
@media screen and (min-width: 360px) {
  .modal {
    background-position: bottom 0px right 0px, top 765px right 0px, bottom 0px left 0px, top 758px left 0px, bottom 40px center, center;
    background-size: 150px, 97px, 139px, 122px, 310px, cover;
    padding-top: 200px;
  }
}
@media screen and (min-width: 1440px) {
  .modal {
    max-width: 1440px;
    background-position: bottom 0px right 0px, top 192px right 0px, bottom 0px left 0px, top 50px left 0px, bottom 30px center, center;
    background-size: 580px, 260px, 480px, 280px, 855px, cover;
    padding-top: 50px;
  }
}

.button-form {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  line-height: 1.16;
  font-size: 24px;
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: #8E32C6;
  color: white;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  padding: 20px 31px;
}

.logo-title-form {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
}

.logo-form {
  margin-left: 1122px;
  display: block;
}
@media screen and (min-width: 360px) {
  .logo-form {
    margin-top: 80px;
    margin-left: 242px;
    width: 96px;
  }
}
@media screen and (min-width: 1440px) {
  .logo-form {
    margin-top: 6px;
    margin-left: 1122px;
    display: block;
    width: 160px;
  }
}

.logo-form-text {
  font-family: "PT Serif";
  font-style: normal;
  color: #FFFFFF;
  display: block;
}
@media screen and (min-width: 360px) {
  .logo-form-text {
    margin-left: 260px;
    font-size: 24px;
    margin-top: -15px;
  }
}
@media screen and (min-width: 1440px) {
  .logo-form-text {
    margin-top: -25px;
    margin-left: 1147px;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
  }
}/*# sourceMappingURL=style.css.map */