html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h3,
h2,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.33;
}

.link {
  text-decoration: none;
}

:root {
  --text-color: #fff;
  --hero-button-color: #8E32C6;
  --hover-button-color: #b742ff;
  --footer-background-color:#021635;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 360px) {
  .container {
    max-width: 360px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

.header {
  position: block;
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
  height: 93px;
  background: #012D63;
  padding: 30px 165px;
}

.navigation {
  display: flex;
}

.logo {
  display: block;
  height: 60px;
}

.menu-header {
  display: flex;
}

.menu-header-item:not(:last-child) {
  margin-right: 23px;
}

.menu-header-item:first-child {
  margin-left: 152px;
}

.menu-header-link {
  font-size: 24px;
  color: #C7C7C7;
}
.menu-header-link:hover, .menu-header-link:focus {
  color: var(--text-color);
}

.language-page-link:first-child {
  margin-left: 70px;
  margin-right: 10px;
}

.hero {
  display: block;
  width: 1440px;
  height: 948px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/desktop/background-hero-desktop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.composition__logo-text {
  margin-left: 170px;
  position: relative;
}

.composition__logo {
  height: 120px;
  display: block;
}

.composition__text {
  position: absolute;
  top: 90px;
  left: 20px;
  font-family: "PT Serif";
  font-size: 48px;
  color: var(--text-color);
}

.hero-text {
  margin-left: 157px;
}

.hero-text__first-title {
  font-family: "Playfair Display";
  font-size: 144px;
  color: var(--text-color);
}

.hero-text__second-title {
  font-family: "Playfair Display";
  font-size: 72px;
  margin-bottom: 12px;
  font-weight: normal;
  color: var(--text-color);
}

.hero-text__third-title {
  display: block;
  font-size: 18px;
  line-height: 1.16;
  color: var(--text-color);
}

.hero__button {
  margin-left: 157px;
  margin-top: 41px;
  padding: 20px 61px;
  display: block;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  line-height: 1.16;
  background-color: var(--hero-button-color);
  color: var(--text-color);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--hover-button-color);
}

.hero__img {
  position: relative;
}

.hero__img-nike {
  position: absolute;
  left: 500px;
  top: -524px;
}

.order {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/desktop/background-order-desktop.png);
  max-width: 1440px;
  max-height: 510px;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 21px;
  padding-bottom: 38px;
}

.title-section-order {
  font-family: "Playfair Display";
  font-size: 48px;
  line-height: 1.33;
  font-weight: 400;
  display: flex;
  justify-content: center;
  color: var(--text-color);
  margin-bottom: 33px;
}

.email-block {
  position: relative;
}

.addres-input {
  display: block;
  margin: 0 auto;
  margin-bottom: 19px;
  background: var(--text-color);
  border: 1px solid #000000;
  border-radius: 50px;
  width: 580px;
  height: 50px;
  padding: 0 0 0 25px;
}

.email-input {
  width: 690px;
  height: 60px;
}

.email-button {
  position: absolute;
  left: 809px;
  top: 5px;
  opacity: 0.5;
  border: 1px solid #000000;
  border-radius: 50px;
  width: 250px;
  height: 50px;
  padding: 0;
}
.email-button:hover, .email-button:focus {
  border-color: var(--hover-button-color);
}

.form-button-submit {
  display: block;
  margin: 0 auto;
  width: 248px;
  height: 68px;
  background-color: var(--hero-button-color);
  border-radius: 16px;
  border: none;
}
.form-button-submit:hover, .form-button-submit:focus {
  background-color: var(--hover-button-color);
}

.footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 164px;
  padding-left: 164px;
  padding-top: 45px;
  padding-bottom: 50px;
  background-color: var(--footer-background-color);
  max-height: 292px;
  max-width: 1440px;
}

.footer-question {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid #5E5E5E;
}

.footer-list {
  font-size: 24px;
  line-height: 28px;
  color: var(--text-color);
}

.footer-item {
  margin-bottom: 10px;
}

.footer-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer__reserved {
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color);
}

.footer__country {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color);
}

.footer_logo {
  display: block;
  width: 100px;
  height: 81px;
}

.footer_logo-div {
  position: relative;
}

.footer__text {
  display: block;
  position: absolute;
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  margin-left: 10px;
}/*# sourceMappingURL=style.css.map */