.adventage {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-image: url(../images/mobile/bg-adventage-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-width: 360px) {
        min-height: 1448px;
        background-image: url(../images/mobile/bg-adventage-mobile.png);

    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/mobile/bg-adventage-mobile@2x.png);
        }
    }

    @media screen and (min-width: 1440px) {
        min-height: 606px;
        padding-top: 55px;
        padding-bottom: 80px;
        background-image: url(../images/desktop/background-adventage-desktop.png);

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image:
                url(../images/desktop/background-adventage-desktop@2x.png);
        }
    }
}

.adventage__list {
    @media screen and (min-width: 360px) {
        display: inline;
    }

    @media screen and (min-width: 1440px) {
        display: flex;
        justify-content: space-between;
        
    }
}












