.footer {
    display: block;
    background-color: var(--footer-background-color);

    @media screen and (min-width: 360px) {
        height: 388px;
    }

    @media screen and (min-width: 1440px) {
        height: 292px;
        padding-top: 45px;
        padding-bottom: 50px;
    }
}


.footer-question {
    color: var(--text-color);
    border-bottom: 1px solid #5E5E5E;

    @media screen and (min-width: 360px) {
        padding-top: 10px;
        margin-bottom: 12px;
        display: block;
    }

    @media screen and (min-width: 1440px) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
}

.footer-list {
    color: var(--text-color);

    @media screen and (min-width: 360px) {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 12px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 24px;
        line-height: 28px;
    }
}


.footer-item {
    @media screen and (min-width: 360px) {
        margin-bottom: 20px;
    }

    @media screen and (min-width: 1440px) {
        margin-bottom: 10px;
    }
}

.footer-email {
    color: var(--text-color);

    @media screen and (min-width: 360px) {
        display: flex;
        margin-bottom: 30px;
        flex-direction: column;
        align-items: end;
    }
}

@media screen and (min-width: 1440px) {}


.footer-title {
    @media screen and (min-width: 360px) {
        display: flex;
    }

    @media screen and (min-width: 1440px) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
}

.footer__reserved {
    color: var(--text-color);

    @media screen and (min-width: 360px) {
        font-size: 14px;
        line-height: 16px;
    }

    @media screen and (min-width: 1440px) {}

    font-size: 18px;
    line-height: 21px;
}

.footer__country {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: var(--text-color);

    @media screen and (min-width: 360px) {
        font-size: 14px;
        line-height: 16px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 18px;
        line-height: 21px;
    }
}

.footer_logo {
    display: block;

    @media screen and (min-width: 360px) {
        width: 65px;
        margin-left: 20px;
    }

    @media screen and (min-width: 1440px) {
        margin-top: -10px;
        width: 108px;
    }
}

.footer_logo-div {
    position: relative;
}

.footer__text {
    display: block;
    position: absolute;
    font-family: "PT Serif";
    font-style: normal;
    font-weight: 400;
    color: var(--text-color);

    @media screen and (min-width: 360px) {
        margin-left: 30px;
        font-size: 14px;
        line-height: 19px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 24px;
        line-height: 32px;
    }
}