.header {
<<<<<<< Updated upstream
    @media screen and (min-width: 360px) {
            display: none;


        }
    
        @media screen and (min-width: 1440px) {
            display: block;
            position: fixed;
                z-index: 100;
                width: 1440px;
                height: 93px;
                background: #012D63;
                padding: 30px 165px;
                top: 0;
        }
=======
    // margin-left: auto;
    // margin-right: auto;
    background: #012D63;
    padding-top: 30px;
    padding-bottom: 30px;
>>>>>>> Stashed changes
}
.navigation{
    display: flex;
    align-items: center;
        justify-content: center;
}

.logo {
    display: block;
    height: 60px;
}

.menu-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 152px;
}
.menu-header-item:not(:last-child){
    margin-right: 23px;
}

.menu-header-link {
    font-size: 24px;
    color: #C7C7C7;
    &:hover,
    &:focus {
        color: var(--text-color);
    }
}
.language-page-link:first-child{
    margin-left: 70px;
    margin-right: 10px;
}
