.header {
    position: fixed;
    z-index: 100;
    width: 1440px;
    height: 93px;
    background: #012D63;
    padding: 30px 165px;
    top: 0;
}
.navigation{
    display: flex;
}

.logo {
    display: block;
    height: 60px;
}

.menu-header {
    display: flex;
}
.menu-header-item:not(:last-child){
    margin-right: 23px;
}
.menu-header-item:first-child{
    margin-left: 152px;
}

.menu-header-link {
    font-size: 24px;
    color: #C7C7C7;
    &:hover,
    &:focus {
        color: var(--text-color);
    }
}
.language-page-link:first-child{
    margin-left: 70px;
    margin-right: 10px;
}
