.hero { 
@media screen and (min-width: 360px) {
        background-image: url(../../images/mobile/hero-mobile.png);
        height: 737px;
        padding-top: 33px;
    }

    @media screen and (min-width: 1440px) {
        display: block;
            position: relative;
            // z-index: 2;
            display: block;
            margin-left: auto;
            margin-right: auto;
            background-image: url(../images/desktop/background-hero-desktop.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            
}
}

.composition__logo-text{
    @media screen and (min-width: 360px){
margin-left: 10px;
    }
@media screen and (min-width: 360px){
margin-left: 170px;
        }
    
}

.composition__logo {
    
    display: block;

    @media screen and (min-width: 360px) {
            margin-left: -150px;
            width: 96px;
        }
    
        @media screen and (min-width: 1440px) {
            margin-left: -165px;
            width: 120px;
        }

}

.composition__text {
    font-family: 'PT Serif';
    color: var(--text-color);

    @media screen and (min-width: 360px) {
        margin-left: -130px;
        font-size: 24px;
        line-height: 32px;
  
        }
    
        @media screen and (min-width: 1440px) {
            font-size: 48px;
            top: 60px;
            left: 20px;
            margin-left: -165px;
            margin-bottom: 40px;
        }

}
.hero-text{
    

    @media screen and (min-width: 360px) {
            margin-left: 25px;
        }
    
        @media screen and (min-width: 1440px) {
            margin-left: 157px;
            
        }
}

.hero-text__first-title {
    font-style: normal;
    font-weight: 400;
    font-family: 'Playfair Display';
    font-size: 144px;
    color: var(--text-color);

        @media screen and (min-width: 360px) {
            font-size: 64px;
            line-height: 85px;
            
                
            }
        
            @media screen and (min-width: 1440px) {
                font-size: 144px;
                line-height: 192px;

            }
}

.hero-text__second-title {
    font-family: 'Playfair Display';
    font-weight: normal;
    color: var(--text-color);
    font-weight: 400;

@media screen and (min-width: 360px) {
            font-size: 36px;
            line-height: 48px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 72px;
            margin-bottom: 12px;
    }

        
}

.hero-text__third-title {
    display: block;
    color: var(--text-color);
    font-style: normal;
    font-weight: 400;
    font-family: 'Roboto';

    @media screen and (min-width: 360px) {
            font-size: 18px;
            line-height: 21px;
            width: 305px;
        }
    
        @media screen and (min-width: 1440px) {
            font-size: 18px;
            line-height: 1.16;
            
        }
       
}

.hero__button {
   
    padding: 20px 61px;
    display: block;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    line-height: 1.16;

    background-color: var(--hero-button-color);
    color: var(--text-color);

    &:hover,
    &:focus {
        background-color: var(--hover-button-color);
    }

    @media screen and (min-width: 360px){
        position: absolute;
            z-index: 2;
            margin-left: 50px;
            margin-top: 41px;
         }
    @media screen and (min-width: 1440px){
    margin-left: 157px;
    margin-top: 41px;
        }
}

.hero__img {
    position: relative;

    
}

.hero__img-nike {
    position: absolute;
    @media screen and (min-width: 360px) {
       width: 510px;
       
      top: -52px;
    }
    
        @media screen and (min-width: 1440px) {
        width: 840px;
        left: 500px;
        top: -500px;
        }   

}