.info-components {
    background-image: url(../images/desktop/group-7-1.png);
    display: block;
    min-width: 1440px;
        min-height: 665px;

    max-height: 665px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 45px;
    padding-bottom: 82px;
}

.info-components__group {
    position: relative;
}

.info-components__paragraph {
    position: absolute;
    width: 215px;
    height: 40px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 37px;
    margin-left: 1061px;
    margin-top: 11px;

    color: #ffffff;
}

.info-components__sneaker {
    // position: absolute;
    margin-left: 159px;
}

.info-components__vektor {
    position: absolute;
    margin-top: -346px;
    margin-left: 883px;
}

.info-components__zoom {
    position: absolute;
    margin-top: -180px;
    margin-left: 774px;
}

.info-components__button {
    z-index: 1;
    background: linear-gradient(91.33deg, #8E32C6 15.44%, #D600C0 69.67%);

    border: none;
    border-radius: 15px;
    cursor: pointer;
    color: #FFFFFF;

    position: relative;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 33px;
        width: 715px;

        padding: 26px 64px;
        margin-left: 220px;
        margin-top: 10px;

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        border-radius: 15px;
        height: 100%;
        background: transparent;
        transition: all 1s ease-out;
        opacity: 0;
    }

    &:hover::before {
        opacity: 1;
        z-index: -1;
        bottom: -4px;
        left: 4px;
        width: calc(100% - 8px);
        background: linear-gradient(91.33deg, rgba(142, 50, 198, 0.6) 15.44%, rgba(214, 0, 192, 0.6) 69.67%);
    }

    &:hover::after {
        opacity: 1;
        z-index: -2;
        bottom: -8px;
        left: 8px;
        width: calc(100% - 16px);
        background: linear-gradient(91.33deg, rgba(142, 50, 198, 0.6) 15.44%, rgba(214, 0, 192, 0.6) 69.67%);
       }
    } 
    
