// < !-- menu mobile-->

.button-mobile {
    position: absolute;

    z-index: 120;
    background-color: transparent;
    border: none;
    display: -webkit-box;


    @media screen and (min-width: 1440px) {
        display: none;
    }

}


.icon-mobile {
    width: 45px;
    height: 25px;
    margin-left: 250px;
    margin-top: 20px;
}

.menu-close {
    display: none;
}

.is-open {
    .menu-close {
        display: block;
    }

    .menu-icon {
        display: none;
    }
}


.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;

    right: -100%;

    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // padding-top: 48px;
    padding-bottom: 114px;
    padding-left: 40px;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background: #021635;
    opacity: 0.9;
    transition: right 0.5s;


    &.is-open {
        right: 0;

    }
}


.menu-mobile {
    padding-top: 90px;
}

.menu-mobile_item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #C7C7C7;
    margin-bottom: 57px;
}

.mobile-language {
    justify-content: center;
    text-align: center;
    display: flex;
}

.mobile-language_item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #C7C7C7;
}

.menu--curren {
    color: wheat;
}