.order {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 21px;
    padding-bottom: 38px;

    @media screen and(min-width: 360px) {
        background-image: url(../images/mobile/bg-order-mobile.png);
    }

    @media screen and(min-width: 1440px) {
        background-image: url(../images/desktop/background-order-desktop.png);
    }


}

.title-section-order {
    font-family: 'Playfair Display';
    font-size: 48px;
    line-height: 1.33;
    font-weight: 400;
    display: flex;
    justify-content: center;
    color: var(--text-color);
    margin-bottom: 33px;
}

.email-block {
    position: relative;
}

.addres-input {
    display: block;
    margin: 0 auto;
    margin-bottom: 19px;
    background: var(--text-color);
    border: 1px solid #000000;
    border-radius: 50px;
    padding: 0 0 0 25px;

    @media screen and(min-width: 360px) {
        width: 242px;
        height: 35px;
    }

    @media screen and(min-width: 1440px) {
        width: 580px;
        height: 50px;
    }
}

.email-input {
    @media screen and(min-width: 360px) {
        width: 242px;
        height: 35px;
    }

    @media screen and(min-width: 1440px) {
        width: 690px;
        height: 60px;
    }
}

.email-button {
    position: absolute;
    left: 781px;
    top: 5px;
    opacity: 0.5;
    border: 1px solid #000000;
    border-radius: 50px;
    width: 250px;
    height: 50px;
    padding: 0;

    &:hover,
    &:focus {
        border-color: var(--hover-button-color);
    }

    @media screen and(min-width: 360px) {
        display: none;
    }

    @media screen and(min-width: 1440px) {
        display: block;
    }
}

.form-button-submit {
    display: block;
    margin: 0 auto;

    background-color: var(--hero-button-color);

    border: none;

    &:hover,
    &:focus {
        background-color: var(--hover-button-color);
    }

    @media screen and(min-width: 360px) {
        width: 212px;
        height: 51px;
        border-radius: 10px;
    }

    @media screen and(min-width: 1440px) {
        border-radius: 16px;
        width: 248px;
        height: 68px;
    }
}